<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
</head>
<body>
  <h1>Welcome to My Blog</h1>
  <h2>Recent Blog Posts</h2>
  {{#each posts}}
    <h3>{{title}}</h3>
    <p>{{createdAt}}</p>
    <hr>
  {{else}}
    <p>No blog posts found.</p>
  {{/each}}
</body>
</html>